snippet head "ABC header" b
X: ${1}
T: ${2}
C: ${3:Svante Kvarnstr\"om}
R: ${4:Reel}
O: ${5:Ireland}
S: ${6:Source}
H: ${7:history...}
M: ${8:4/4}
L: ${9:1/8}
Z: Svante Kvarnstr\"om
K: ${10:key}
${0}
endsnippet
