snippet divc "XHTML <div class>"
<div class="${1:name}">
  $0
</div>
endsnippet

snippet ulc "XHTML <ul class>"
<ul class="${1:name}">
  $0
</ul>
endsnippet

snippet t "<table>"
<table>
  $0
</table>
endsnippet
