snippet head
---
title: ${1:${VISUAL}}
author: Svante Kvarnström
lang: ${2:swedish}
---

${0}
endsnippet

snippet fig
%--
figure:
  id: ${1}
  source: ${2:${VISUAL}}
  caption: ${3}
--%
endsnippet

snippet toc
%--
toc:
  mindepth: 1
  maxdepth: 2
--%
endsnippet

snippet img
![${1}](img/${2}) ${0}
endsnippet
