snippet bokref
<ref name='${1}'>{{Bokref${2:/Author/YYYY} |sid=${3:page}}}</ref>
endsnippet

snippet webbref
<ref name='${1}>{{Webbref |url=${1:${VISUAL}} |titel=${2} |hämtad=${3}}}</ref>
endsnippet

snippet ref "reference" i
<ref name='${1:${VISUAL}}' />
endsnippet
