snippet gig "Gig YAML entry" b
- date: ${1:YYYY-MM-DD HH:MM}
  title: ${2}
  venue: ${3:${2}}
  url: http://${4}
  address: ${5}
  postal_code: ${6}
  city: ${7}
endsnippet

snippet gigw "Session at Wirströms gig entry" b
- date: ${1:YYYY-MM-DD} 19:00
  title: Session hosts at Wirströms
  venue: Wirströms
  url: http://www.wirstromspub.se/trad-session-mondays/
  address: Stora Nygatan 13
  postal_code: 111 27
  city: Stockholm
endsnippet
