[submodule "home/vim/bundle/command-t"]
	path = home/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/vim/bundle/fugitive"]
	path = home/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/vim/bundle/jekyll"]
	path = home/vim/bundle/jekyll
	url = git://github.com/csexton/jekyll.vim.git
[submodule "home/vim/bundle/surround"]
	path = home/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/vim/bundle/commentary"]
	path = home/vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "home/vim/bundle/pathogen"]
	path = home/vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/vim/bundle/unimpaired"]
	path = home/vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "home/vim/bundle/repeat"]
	path = home/vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "home/vim/bundle/abolish"]
	path = home/vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "home/vim/bundle/splitjoin"]
	path = home/vim/bundle/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "home/vim/bundle/trailertrash"]
	path = home/vim/bundle/trailertrash
	url = git://github.com/csexton/trailertrash.vim.git
[submodule "home/vim/bundle/latex-box"]
	path = home/vim/bundle/latex-box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "home/vim/bundle/snipmate"]
	path = home/vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "home/vim/bundle/tabular"]
	path = home/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "home/vim/bundle/gist"]
	path = home/vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "home/vim/bundle/webapi"]
	path = home/vim/bundle/webapi
	url = git://github.com/mattn/webapi-vim.git
