[submodule "home/vim/bundle/command-t"]
	path = home/vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "home/vim/bundle/fugitive"]
	path = home/vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "home/vim/bundle/jekyll"]
	path = home/vim/bundle/jekyll
	url = git://github.com/csexton/jekyll.vim.git
[submodule "home/vim/bundle/surround"]
	path = home/vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "home/vim/bundle/commentary"]
	path = home/vim/bundle/commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "home/vim/bundle/pathogen"]
	path = home/vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "home/vim/bundle/unimpaired"]
	path = home/vim/bundle/unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "home/vim/bundle/repeat"]
	path = home/vim/bundle/repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "home/vim/bundle/abolish"]
	path = home/vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "home/vim/bundle/splitjoin"]
	path = home/vim/bundle/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "home/vim/bundle/trailertrash"]
	path = home/vim/bundle/trailertrash
	url = git://github.com/csexton/trailertrash.vim.git
[submodule "home/vim/bundle/latex-box"]
	path = home/vim/bundle/latex-box
	url = git://github.com/LaTeX-Box-Team/LaTeX-Box.git
[submodule "home/vim/bundle/tabular"]
	path = home/vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "home/vim/bundle/gist"]
	path = home/vim/bundle/gist
	url = git://github.com/mattn/gist-vim.git
[submodule "home/vim/bundle/webapi"]
	path = home/vim/bundle/webapi
	url = git://github.com/mattn/webapi-vim.git
[submodule "home/vim/bundle/puppet"]
	path = home/vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule "home/vim/bundle/texnotes"]
	path = home/vim/bundle/texnotes
	url = git://github.com/sjktje/vim-texnotes
[submodule "home/vim/bundle/rails"]
	path = home/vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "home/vim/bundle/bundler"]
	path = home/vim/bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "home/vim/bundle/endwise"]
	path = home/vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "home/vim/bundle/ragtag"]
	path = home/vim/bundle/ragtag
	url = git://github.com/tpope/vim-ragtag.git
[submodule "home/vim/bundle/nerdtree"]
	path = home/vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "home/vim/bundle/ultisnips"]
	path = home/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "zsh-plugins/syntax-highlighting"]
	path = zsh-plugins/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/vim/bundle/vimoutliner"]
	path = home/vim/bundle/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner.git
[submodule "home/vim/bundle/airline"]
	path = home/vim/bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "home/vim/bundle/gundo"]
	path = home/vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule "home/vim/bundle/badwolf"]
	path = home/vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "home/vim/bundle/ruby"]
	path = home/vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/vim/bundle/python-mode"]
	path = home/vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "home/vim/bundle/heroku"]
	path = home/vim/bundle/heroku
	url = git://github.com/tpope/vim-heroku.git
[submodule "home/vim/bundle/dispatch"]
	path = home/vim/bundle/dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule "home/vim/bundle/vim-snippets"]
	path = home/vim/bundle/vim-snippets
	url = git://github.com/honza/vim-snippets
[submodule "home/vim/bundle/vimple"]
	path = home/vim/bundle/vimple
	url = git://github.com/dahu/vimple
[submodule "fonts/powerline-fonts"]
	path = fonts/powerline-fonts
	url = https://github.com/Lokaltog/powerline-fonts.git
[submodule "home/vim/bundle/mediawiki"]
	path = home/vim/bundle/mediawiki
	url = git://github.com/chikamichi/mediawiki.vim.git
[submodule "home/vim/bundle/solarized"]
	path = home/vim/bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "home/vim/bundle/markdown"]
	path = home/vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "home/vim/bundle/markdown-folding"]
	path = home/vim/bundle/markdown-folding
	url = https://github.com/nelstrom/vim-markdown-folding
[submodule "home/vim/bundle/pencil"]
	path = home/vim/bundle/pencil
	url = https://github.com/reedes/vim-pencil.git
[submodule "home/vim/bundle/ctrlp"]
	path = home/vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "home/vim/bundle/pandoc"]
	path = home/vim/bundle/pandoc
	url = https://github.com/vim-pandoc/vim-pandoc.git
[submodule "home/vim/bundle/pandoc-syntax"]
	path = home/vim/bundle/pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax.git
[submodule "home/vim/bundle/vimwiki"]
	path = home/vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "home/vim/bundle/syntastic"]
	path = home/vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/vim/bundle/ansible"]
	path = home/vim/bundle/ansible
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "home/vim/bundle/youcompleteme"]
	path = home/vim/bundle/youcompleteme
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "home/vim/bundle/pytest"]
	path = home/vim/bundle/pytest
	url = https://github.com/alfredodeza/pytest.vim
