snippet fig
	\begin{figure}[h!]
	    \begin{center}
			\includegraphics[${1:scale=0.8}]{images/${2:blah.png}}
	    \end{center}
	    \caption{${3:Caption of figure}}
	    \label{fig:$2}
	\end{figure}

snippet tab
	\begin{table}[h!]
	    \centering
	    \begin{tabular}{${1:ll}}
			${2:tabular data}
	    \end{tabular}
	    \caption{${3:caption}}
	    \label{tab:${4:label}}
	\end{table}
